.header{
    padding: 20px;
  background-size: cover;
  height: 100vh;
    background-image: url('/yuruslugi2/img/бг\ 1.jpg');
}
.header__wrapper{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-wrap: wrap;
}
.wrapper{
    max-width: 1920px;
    margin: 0 auto;
}
.navigation{
    display: flex;

}
.navigation__link{
    list-style: none;
    padding: 0 10px;
    cursor: pointer;
    text-transform: uppercase;
    }
    .header__contacts a{
        text-decoration: none;
        color:black;
        font-size: large;
        line-height: 1.2rem;
    }

    .header__content{
        position: relative;
        top:30%;
        width: 472px;
        left: 9%;
    
    }
   .content_title{
       padding: 20px 0;
       font-weight: bold;
font-size: 48px;
line-height: 65px;
/* width: 472px; */
text-transform: uppercase;
   }
   .content_button{
    background: #462C57;
border-radius: 5px;
width: 242px;
height: 49px;
    color: #FFFFFF;
    font-weight: 600;
font-size: 14px;
line-height: 19px;
/* identical to box height */

text-transform: uppercase;
   }
   .header__form{
    position: relative;
    left: 62%;
    top: -20%;
    width: 384px;
   }
   form{
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.7);
/* medium */
align-items: center;
    height: 306px;
    justify-content: space-evenly;
box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
border-radius: 5px;
   }
   .form-input{
    border: 1px solid #462C57;
box-sizing: border-box;
border-radius: 5px;
width: 274px;
height: 40px;
   }
   .form-input::placeholder{
       padding: 10px;
   }
